@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Outfit:wght@100..900&display=swap');

body {
    min-height: 100vh;
    margin: 0;;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 16px;
}

img {
    border-radius: 12px;
    width: 280px;
}

#text-container {
    width: 280px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    padding: 10px;
}

h2 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(216, 15%, 48%);
}